.DS_Store
.localized
.vs/

# Build directory
build/
build-lin/
build-win/
build-mac/
CMakeFiles/
CMakeCache.txt

# XCode user specific files
xcuserdata/
*.xcworkspace/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
